<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.module_customview">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >

        <activity android:name=".activity.RecyclerHomeActivity"/>
        <activity android:name=".activity.UDLRRecyclerActivity"/>
        <activity android:name=".activity.PartRecyclerActivity"/>

    </application>

</manifest>
