<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.module_customview">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.CustomViewApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:name">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".recyclerview.RecyclerHomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".customview.LearnViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".recyclerview.DecorationRecAct"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".recyclerview.UDLRRecyclerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".recyclerview.PartRecyclerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.DialogBasicActvitity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.TextViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="javastudy.ComparatorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="javastudy.MathActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.DrawerLayoutActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activity.TabLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.FlexboxActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.Flexbox2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="javastudy.RegexActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Kotlin01Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".utils.sharepre.SharepreActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".test.Test1Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.Test2Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.Test3Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.Test4Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.Test5Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.Test6Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="javastudy.TextUtilActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="javastudy.StudyJavaActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.AnimationActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.PickerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="javastudy.ExceptionActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ImageViewBasicActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.MeterialDesignActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ScrollViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.BitmapActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ConstraintLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ProgressbarBasicActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>